@use '../utils/api';

ion-toast.ios:not(.ios26-disabled) {
  --background: transparent;
  --start: 16px;
  --end: 16px;

  &::part(container) {
    @include api.glass-background;
    border-radius: 24px;
  }
}
