@use '../utils/api';

ion-datetime.ios:not(.ios26-disabled) {
  @include api.glass-background-overlay;
  border-radius: 24px;

  --wheel-highlight-background: transparent;
  --wheel-highlight-border-radius: 24px;
}
