@use '../utils/api';

ion-range.md:not(.md3-disabled) {
  --height: 56px;
  --bar-height: 16px;
  --bar-border-radius: 8px;

  --knob-background: transparent;
  --knob-box-shadow: none;
  --knob-border-radius: 8px;
  --knob-size: 44px;

  --pin-background: var(--ion-background-color-step-700, #4a4458);

  &.range-has-pin {
    padding-top: 2.6rem;
  }

  &::part(knob) {
    width: 4px;
    height: var(--knob-size);
    background: var(--ion-color-primary);
    transform: translateX(calc(var(--knob-size) / 2 - 2px));
    &:before {
      content: none;
    }
  }
  &.ion-color::part(knob) {
    background: var(--ion-color-base, var(--ion-color-primary));
  }

  &::part(tick),
  &::part(tick-active) {
    --bar-height: 4px;
  }

  &::part(bar-active) {
    border-top-right-radius: calc(var(--knob-border-radius) / 2);
    border-bottom-right-radius: calc(var(--knob-border-radius) / 2);
    margin-right: 6px;
  }

  &[dual-knobs]::part(bar-active) {
    border-radius: calc(var(--knob-border-radius) / 2);
    margin-left: 6px;
  }

  &::part(pin) {
    padding: 16px;
    min-width: 36px;
    top: 10px;
    &:before {
      content: none;
    }
  }
}
