ion-fab.md:not(.md3-disabled) {
  ion-fab-button {
    width: 56px;
    height: 56px;
    --border-radius: 16px;
    --transition: border-radius var(--token-expressive-fast-special);
    --box-shadow: var(--token-elevation-3);

    ion-icon {
      width: 24px;
      height: 24px;
    }

    &.fab-button-close-active {
      --border-radius: 50%;
    }

    &.fab-button-in-list {
      --border-radius: 50%;
    }

    &.fab-button-small {
      width: 40px;
      height: 40px;
      --border-radius: 12px;
      &.fab-button-close-active {
        --border-radius: 50%;
      }
    }
  }

  &:has(.fab-button-small) {
    ion-fab-button {
      width: 40px;
      height: 40px;
    }
  }
}
