@use '../utils/api';

ion-alert.md:not(.md3-disabled) {
  --backdrop-opacity: 0.2;
  --min-width: 280px;
  --max-width: 560px;
  transition: transform 200ms ease;

  .alert-wrapper {
    border-radius: 24px;

    .alert-head {
      padding-top: 24px;
      padding-bottom: 16px;
    }

    .alert-radio-group,
    .alert-checkbox-group {
      border: none;
    }

    .alert-message {
      padding-bottom: 24px;
      &:empty {
        padding-bottom: 0;
      }
    }
  }
}
