ion-modal.md:not(.md3-disabled) {
  --box-shadow: var(--token-elevation-3);
  @media only screen and (min-width: 768px) and (min-height: 600px) {
    --border-radius: 24px;
  }
  ion-toolbar {
    --min-height: 64px;
    padding-right: var(--ion-safe-area-right);
    padding-left: var(--ion-safe-area-left);

    ion-button.button-has-icon-only {
      &::part(native) {
        width: 48px;
        height: 48px;
      }
      ion-icon[name='close-outline'] {
        font-size: 2rem;
      }
    }
  }
  &::part(handle) {
    width: 80px;
  }

  &.modal-sheet {
    --border-radius: 30px;
    ion-toolbar {
      &:first-of-type {
        padding-top: 0;
      }
      padding-right: calc(var(--ion-safe-area-right) + 4px);
      padding-left: calc(var(--ion-safe-area-left) + 4px);
    }
  }
}
