ion-modal.md:not(.md3-disabled) {
  ion-toolbar {
    padding-top: 6px;
    --min-height: calc(64px - 6px);
    padding-right: calc(var(--ion-safe-area-right) + 14px);
    padding-left: calc(var(--ion-safe-area-left) + 14px);
  }
  &::part(handle) {
    width: 80px;
  }

  &.modal-sheet {
    --border-radius: 30px;
  }
}
