@use '../utils/api';

ion-action-sheet.ios:not(.ios26-disabled) {
  --backdrop-opacity: 0.2;
  --color: var(--ion-color-step-600, var(--ion-text-color-step-400, #666666));

  .action-sheet-wrapper {
    padding-bottom: 0;
    bottom: var(--ios26-floating-safe-area-bottom);
  }

  .action-sheet-container {
    @include api.glass-background-overlay;
    transition: transform 200ms ease;
    &:has(.ion-activated) {
      transform: scale(1.016);
      @include api.glass-background-overlay-activated;
    }
    margin: 0 12px;
    border-radius: 32px;

    .action-sheet-title,
    .action-sheet-has-sub-title {
      background: none;
    }
    .action-sheet-title {
      padding-top: 8px;
    }
    .action-sheet-has-sub-title {
    }

    .action-sheet-group {
      background: transparent;

      button {
        @include api.glass-background-overlay-button-variable;
        &::after {
          content: none;
        }
        &:not(.action-sheet-destructive):not(.action-sheet-selected) {
          --button-color: var(--ion-text-color, #000);
          --button-color-hover: var(--ion-text-color, #000);
          --button-color-activated: var(--ion-text-color, #000);
        }
        &.action-sheet-destructive {
          --button-color: var(--ion-color-danger, #c5000f);
          --button-color-hover: var(--ion-color-danger, #c5000f);
        }
        font-weight: 550;
        &.action-sheet-cancel {
          margin-top: auto;
          font-weight: 550;
        }
        border-radius: 32px;
        padding: 0 14px;
        min-height: 52px;
        span.action-sheet-button-inner {
          font-size: 1rem;
          ion-icon {
            font-size: 1.2rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    button.action-sheet-cancel {
      margin-top: 12px;
    }
  }
}

/**
 * For ion-select[interface=action-sheet].
 * ios26, action-sheet should not has 'cancel'.
 * It is recommend to use Popover.
 */
ion-action-sheet.ios.select-action-sheet:not(.ios26-disabled) {
  .action-sheet-container {
    .action-sheet-group {
      button.action-sheet-cancel {
        display: none;
      }
    }
  }
}
