@use '../utils/api';

ion-toggle.md:not(.md3-disabled) {
  --handle-width: 24px;
  --handle-height: 24px;
  --handle-border-radius: 16px;
  --border-radius: 16px;
  --handle-box-shadow: none;
  --handle-spacing: 2px;

  &::part(track) {
    box-sizing: border-box;
    min-height: 32px;
    min-width: 52px;
    border: 2px solid var(--ion-text-color-step-450, #79747e);
    background: var(--ion-background-color-step-100, #e6e0e9);
  }

  &.toggle-checked::part(track) {
    border-color: var(--ion-color-base);
    background: var(--ion-color-base);
  }

  &::part(handle) {
    background: var(--ion-text-color-step-450, #79747e);
  }

  &.toggle-checked::part(handle) {
    background: var(--ion-color-contrast);
  }

  &:not(.ion-color) {
    &.toggle-checked::part(track) {
      border-color: var(--ion-color-primary);
      background: var(--ion-color-primary);
    }
    &.toggle-checked::part(handle) {
      background: var(--ion-color-primary-contrast);
    }
  }
}
