<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>toggle</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Default styles</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-toggle color="success" justify="space-between">Airplane Mode</ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-note>This component is overwrite.</ion-note>
  </ion-list>

  <section class="section-example">
    <ion-toggle>Default Toggle</ion-toggle><br /><br />
    <ion-toggle [checked]="true">Checked Toggle</ion-toggle><br /><br />
    <ion-toggle [disabled]="true">Disabled Toggle</ion-toggle><br /><br />
    <ion-toggle [checked]="true" [disabled]="true">Disabled Checked Toggle</ion-toggle>
    <ion-toggle enable-on-off-labels="true">Enable Notifications</ion-toggle>
    <ion-toggle label-placement="start">Label at the Start</ion-toggle><br /><br />
    <ion-toggle label-placement="end">Label at the End</ion-toggle><br /><br />
    <ion-toggle label-placement="fixed">Fixed Width Label</ion-toggle><br /><br />
    <ion-toggle label-placement="stacked">Stacked Label</ion-toggle>
  </section>
</ion-content>
