<ion-tabs>
  <ion-tab-bar id="tab-bar-bottom" slot="bottom">
    <ion-tab-button tab="index" href="/main/index">
      <ion-icon aria-hidden="true" name="documents"></ion-icon>
      <ion-label>Index</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="docs" href="/main/docs">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Docs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="album" href="/main/album">
      <ion-icon aria-hidden="true" name="images"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/main/settings">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
