<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>date-and-time-pickers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>date-and-time-pickers</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <section class="section-example">
    <ion-datetime [value]="fixedDateTime"></ion-datetime>
  </section>

  <section class="section-example">
    <ion-picker>
      <ion-picker-column [value]="'javascript'">
        <ion-picker-column-option [value]="''" [disabled]="true">--</ion-picker-column-option>
        <ion-picker-column-option [value]="'javascript'">Javascript</ion-picker-column-option>
        <ion-picker-column-option [value]="'typescript'">Typescript</ion-picker-column-option>
        <ion-picker-column-option [value]="'rust'">Rust</ion-picker-column-option>
        <ion-picker-column-option [value]="'c#'">C#</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </section>

  <section class="section-example">
    <ion-datetime-button [datetime]="'datetime'"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" [value]="fixedDateTime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </section>
</ion-content>
