@use 'utils/theme-list-inset';

ion-list.list-inset.md {
  @include theme-list-inset.ion-list-inset();

  ion-item-group > ion-item {
    & > ion-input[labelplacement='floating'] {
      transition: transform 200ms ease;

      &:not(.label-floating) {
        transform: translateY(-7px);
      }

      &.label-floating {
        transform: translateY(-4px);
      }
    }
  }
}
