ion-buttons.md {
  /**
   * ion-buttons.ios26-disabled > ion-button.button-default is for ios26 structure.
   * for .md, remove button-default styles. Will be button-clear.
   */
  ion-button.md:not(.ios26-disabled).button-default {
    // copy .button-clear
    --color: initial;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
  }
}
