<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title size="large" style="margin-top: 8px">Library</ion-title>
    <ion-buttons slot="end" style="margin-top: 6px">
      <ion-button fill="default" href="https://github.com/rdlabo-team/ionic-theme-ios26" style="margin-right: 8px"
        ><ion-icon name="logo-github" slot="icon-only"></ion-icon
      ></ion-button>
      <ion-button fill="default">Select</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="images">
    @for (item of sourceIonIcons; track item) {
      <img [src]="'https://picsum.photos/600/600?id=' + item" alt="" />
    }
  </section>

  <ion-fab class="inner-tab-bar" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
