@use '../api';

@mixin theme-dark-buttons {
  &:has(.ion-activated) {
    @include api.glass-background-button-activated-dark;
  }

  ion-button:not(.ios26-disabled).button-clear {
    &.ion-activated {
      color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
      &.ion-color {
        color: rgb(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)));
      }
    }
  }

  ion-button:not(.ios26-disabled),
  ion-back-button:not(.ios26-disabled) {
    &.ion-activated {
      --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1);

      &.ion-color {
        --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 1);
      }
    }
  }
}

@mixin theme-dark-button {
  &.ion-activated:not(.button-solid):not(.button-outline):not(.button-clear) {
    --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1);
    &.ion-color {
      --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 1);
    }
    &::part(native) {
      @include api.glass-background-button-activated-dark;
    }
    ion-icon {
      color: rgb(255, 255, 255) !important;
    }
  }
}

@mixin ion-button {
  ion-buttons.ios:not(.ios26-disabled):not(:has(ion-back-button, ion-button:not(.button-clear))) {
    @include theme-dark-buttons;
  }
  ion-button:not(.ios26-disabled),
  ion-back-button:not(.ios26-disabled) {
    @include theme-dark-button;
  }
}
