<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>checkbox</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item>
        <ion-checkbox label-placement="stacked" alignment="start">Aligned to the Start</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox label-placement="stacked" alignment="center">Aligned to the Center</ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-checkbox justify="start">Packed at the Start of Line</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="end">Packed at the End of Line</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox justify="space-between">Space Between Label and Control</ion-checkbox>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <section class="section-example">
    <ion-checkbox labelPlacement="start">Label at the Start</ion-checkbox>

    <br />

    <ion-checkbox labelPlacement="end">Label at the End</ion-checkbox>

    <br />

    <ion-checkbox labelPlacement="fixed">Fixed Width Label</ion-checkbox>

    <br />

    <ion-checkbox labelPlacement="stacked">Stacked Label</ion-checkbox>

    <br />

    <ion-checkbox helperText="Agree to the terms before continuing" errorText="You must agree to the terms to continue">
      I agree to the terms and conditions
    </ion-checkbox>
  </section>
</ion-content>
