<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>breadcrumbs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>breadcrumbs</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <section class="section-example">
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
      <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
      <ion-breadcrumb href="#film">Film</ion-breadcrumb>
    </ion-breadcrumbs>
  </section>

  <section class="section-example">
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
      <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
      <ion-breadcrumb href="#film">Film</ion-breadcrumb>
    </ion-breadcrumbs>
  </section>
</ion-content>
