<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>button</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Compare styles</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>buttons.small | button.small</code></ion-label>
        <ion-buttons slot="end">
          <ion-button>Link</ion-button>
        </ion-buttons>
        <ion-button fill="default" slot="end">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons.default | button.default</code></ion-label>
        <ion-buttons slot="end">
          <ion-button size="default">Link</ion-button>
        </ion-buttons>
        <ion-button fill="default" slot="end" size="default">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons.large | button.large</code></ion-label>
        <ion-buttons slot="end">
          <ion-button size="large">Link</ion-button>
        </ion-buttons>
        <ion-button fill="default" slot="end" size="large">Link</ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Disable styles</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-button slot="end" fill="default" [disabled]="true" size="default">Link</ion-button>
        <ion-buttons slot="end">
          <ion-button [disabled]="true" size="default">Link</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="default" type="submit" [disabled]="true"
        ><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon
      ></ion-button>
      <ion-button color="primary" fill="default" type="submit"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" type="submit" [disabled]="true"
        ><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon
      ></ion-button>
      <ion-button color="primary" fill="solid" type="submit"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Default styles</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>buttons > button</code></ion-label>
        <ion-buttons slot="end">
          <ion-button>Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>button</code></ion-label>
        <ion-button slot="end">Link</ion-button>
      </ion-item>
    </ion-item-group>
    <ion-note>Should not effect this library.</ion-note>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Inner ion-buttons</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>buttons > button</code></ion-label>
        <ion-buttons slot="end">
          <ion-button>Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=default]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="default">Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=default][size=default]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="default" size="default">Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=default][size=large]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="default" size="large">Buttons Shadow</ion-button>
          <ion-button fill="default" class="ios26-disabled" size="large">Default Theme</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=outline]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="outline">Buttons Shadow</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Standalone</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>button[fill=default]</code></ion-label>
        <ion-button slot="end" fill="default">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=default][color=primary]</code></ion-label>
        <ion-button slot="end" fill="default" color="primary">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=solid]</code></ion-label>
        <ion-button slot="end" fill="solid">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=outline]</code></ion-label>
        <ion-button slot="end" fill="outline">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=clear]</code></ion-label>
        <ion-button slot="end" fill="clear">Link</ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/index"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid">Get News</ion-button>
      <ion-button color="primary" fill="solid"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
      <ion-button color="primary"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/index"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid">Get News</ion-button>
      <ion-button color="primary" fill="solid"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
      <ion-button color="primary"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" type="submit">Solid&Submit</ion-button>
      <ion-button color="primary" fill="solid" type="submit"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="success" fill="solid" type="submit">Solid&Submit</ion-button>
      <ion-button color="success" fill="solid" type="submit"><ion-icon name="checkmark-outline" slot="icon-only"></ion-icon></ion-button
      >　　　
    </ion-buttons>
  </ion-toolbar>

  <section class="section-example">
    <ion-button size="small" fill="default">small</ion-button>
    <ion-button size="default" fill="default">default</ion-button>
    <ion-button size="large" fill="default">large</ion-button><br />
    <ion-button size="small" fill="solid" color="primary">small</ion-button>
    <ion-button size="default" fill="solid" color="primary">default</ion-button>
    <ion-button size="large" fill="solid" color="primary">large</ion-button><br />
    <ion-button size="small" fill="outline" color="primary">small</ion-button>
    <ion-button size="default" fill="outline" color="primary">default</ion-button>
    <ion-button size="large" fill="outline" color="primary">large</ion-button>
  </section>

  <section class="section-example">
    <ion-button size="small" fill="default"
      ><ion-icon name="close-outline" slot="start"></ion-icon>small<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
    <ion-button size="default" fill="default"
      ><ion-icon name="close-outline" slot="start"></ion-icon>default<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
    <ion-button size="large" fill="default"
      ><ion-icon name="close-outline" slot="start"></ion-icon>large<ion-icon name="close-outline" slot="end"></ion-icon></ion-button
    ><br />
    <ion-button size="small" fill="solid" color="primary"
      ><ion-icon name="close-outline" slot="start"></ion-icon>small<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
    <ion-button size="default" fill="solid" color="primary"
      ><ion-icon name="close-outline" slot="start"></ion-icon>default<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
    <ion-button size="large" fill="solid" color="primary"
      ><ion-icon name="close-outline" slot="start"></ion-icon>large<ion-icon name="close-outline" slot="end"></ion-icon></ion-button
    ><br />
    <ion-button size="small" fill="outline" color="primary"
      ><ion-icon name="close-outline" slot="start"></ion-icon>small<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
    <ion-button size="default" fill="outline" color="primary"
      ><ion-icon name="close-outline" slot="start"></ion-icon>default<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
    <ion-button size="large" fill="outline" color="primary"
      ><ion-icon name="close-outline" slot="start"></ion-icon>large<ion-icon name="close-outline" slot="end"></ion-icon
    ></ion-button>
  </section>
</ion-content>
