<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>searchbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>searchbar</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-toolbar><ion-searchbar></ion-searchbar></ion-toolbar>

  <ion-toolbar class="ios26-disabled">
    <ion-searchbar class="ios26-disabled"></ion-searchbar>
    <ion-buttons class="ios26-disabled" slot="end">
      <ion-button class="ios26-disabled">Search</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>Search</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <section class="section-example">
    <ion-searchbar></ion-searchbar>
    <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
    <ion-searchbar [disabled]="true" placeholder="Disabled"></ion-searchbar>
    <ion-searchbar [value]="'Value'"></ion-searchbar>
    <ion-searchbar [animated]="true" placeholder="Animated"></ion-searchbar>
  </section>
</ion-content>
